/*

Medigo Template (Blue)

*/

/*------------------------------------------------------
	BASIC STYLES 
--------------------------------------------------------*/
body {
  background: white;
  font-size: 16px;
  font-family: "PT Serif", Georgia, serif;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  color: #777777;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #31373a;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  line-height: 1.7;
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 20px 0;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 28px;
  line-height: 36px;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
  color: #31373a;
}

a, a:visited {
  color: #00a8d6;
  text-decoration: none !important;
  outline: 0;
}

a:hover, a:focus, a:active {
  color: #777777;
}

p a, p a:visited {
  line-height: inherit;
}

::-moz-selection {
  background-color: #d3dde0;
  text-shadow: none;
}

::-webkit-selection {
  background-color: #d3dde0;
  text-shadow: none;
}

::selection {
  background-color: #d3dde0;
  text-shadow: none;
}

img::selection {
  background-color: transparent;
}

img::-moz-selection {
  background-color: transparent;
}

.subtract-bottom {
  margin-bottom: -40px !important;
}

.remove-bottom {
  margin-bottom: 0 !important;
}

.half-bottom {
  margin-bottom: 20px !important;
}

.add-bottom {
  margin-bottom: 40px !important;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

.footer-menu, .copyright-text {
  text-align: center;
}

.main-nav ul, .main_menu, .main_menu li ul, #filters, .pages, .project-single .meta-post, .archive-wrapper .archive-list, .categories ul, .thumbs, .footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:visited {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.service-section, .first-widget {
  position: relative;
  margin-top: 108px;
}

.light-content, #blogPosts {
  margin-top: 100px;
}

/*------------------------------------------------------
	HEADER STYLES 
--------------------------------------------------------*/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 3px;
  z-index: 9999;
  padding: 35px 0;
  overflow: visible;
  transition: padding 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  -webkit-transition: padding 0.3s ease-in-out;
}

.site-header.site-header-shrink {
  padding: 17px 0;
}

.main-nav ul li {
  float: left;
  display: block;
  margin-left: 20px;
  position: relative;
}
.main-nav ul li a {
  color: #31373a;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 5px 15px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.main-nav ul li a:hover {
  color: #00a8d6;
}
.main-nav ul li a i {
  margin-left: 7px;
}
.main-nav ul li.active a {
  color: #00a8d6;
  background-color: #f1f4f5;
}
.main-nav ul li ul {
  display: none;
  top: 100%;
  left: 0;
  margin-top: 5px;
  position: absolute;
  width: 220px;
  background-color: white;
  border: 2px solid #f1f4f5;
}
.main-nav ul li ul li {
  margin-left: 0;
  width: 100%;
  border-bottom: 1px solid #dce4e6;
}
.main-nav ul li ul li:last-child {
  border-bottom: none;
}
.main-nav ul li ul li a {
  background-color: transparent !important;
  color: #777777 !important;
  text-transform: capitalize;
  font-weight: 600;
}
.main-nav ul li ul li a:hover {
  color: #00a8d6 !important;
}
.main-nav ul li ul li:last-child a {
  border-bottom: none;
}

a.menu-toggle-btn {
  float: right;
  margin-right: 20px;
  color: #31373a;
  font-size: 14px;
  display: block;
}
a.menu-toggle-btn i {
  font-size: 18px;
}

.main_menu li {
  border-bottom: 1px solid #485156;
  padding: 10px 0;
}
.main_menu li:first-child {
  padding-top: 0;
}
.main_menu li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main_menu li a {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #bfbfbf;
  font-weight: 500;
}
.main_menu li ul li {
  margin-left: 20px;
}
.main_menu li ul li:first-child {
  border-top: 1px solid #485156;
  padding-top: 8px;
  margin-top: 10px;
}
.main_menu li ul li:before {
  content: '-';
  color: gray;
  margin-right: 10px;
}

.responsive_menu {
  padding: 20px;
  background-color: rgba(49, 55, 58, 0.98);
  display: none;
  position: relative;
  z-index: 9999;
}

/*------------------------------------------------------
	General Styling 
--------------------------------------------------------*/

